asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.4
dj-rest-auth==7.1.1
Django==6.0.2
django-allauth==65.14.3
djangorestframework==3.16.1
drf-yasg==1.21.14
gunicorn==25.1.0
idna==3.11
inflection==0.5.1
packaging==26.0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
uritemplate==4.2.0
urllib3==2.6.3
